<section *ngIf="!sectionBool && !sectionBool2 && !sectionBool3">
    <div class="category-container">
        <div class="category-header">
            <h1>Categories</h1>
        </div>
        <div class="all-category">
            <div class="category-box" *ngFor="let category of allCategories">
                <div class="edit-box" *ngIf="!editBool">
                    <span><b>Name:</b> {{category.name}}</span> <br>
                    <span><b>Date:</b> {{category.date | date: 'HH:mm:ss'}}  {{category.date | date: 'dd/MM/yyyy'}}</span> <br>
                    <button (click)="editOn(category.id)" class="edit-btn">Edit</button>
                    <button (click)="deleteCategory(category.id)" class="delete-btn">Delete</button>
                </div>
                <div class="edit-box" *ngIf="editBool && category.id == getCategoryId">

                    <form [formGroup]="categoryService.categoryModel" autocomplete="off" (submit)="editCategory(category.id)">
                        <h2 style="color: #fff; text-align: center;">Name:</h2>
                        <input class="custom-input" formControlName="Name" type="text" placeholder="{{category.name}}"> <br> <br>
                        <button type="submit" class="add-btn">Modify</button>   
                    </form>
                    <button (click)="editOff()" class="cancel-btn">Cancel</button>
    
                </div>
            </div>
            
        </div>
        <div class="add-category" *ngIf="!show">
            <button type="submit" class="add-btn" (click)="showOn()">Add Category</button>
        </div>
        <div class="add-category" *ngIf="show">
            <form [formGroup]="categoryService.categoryModel" autocomplete="off" (submit)="addNewCategory()">
                <h2 style="color: #fff; text-align: center;">Name:</h2>
                <input class="custom-input" formControlName="Name" type="text" placeholder="Write here..."> <br> <br>
                <button type="submit" class="add-btn">Save Category</button>
            </form>
            <button type="submit" class="cancel-btn" *ngIf="show" (click)="showOff()">Cancel</button>
        </div>
    </div>

    <div class="article-container">
        <button (click)="sectionOn()" class="add-article-btn" routerLink='/article' routerLinkActive='active'>Add Article</button>
        <!-- Search Bar -->
        <div class="boxContainer">
            <table class="elementsContainer">
                <tr>
                    <td style="display: flex; margin-top: 5px;">
                        <input type="text" #title placeholder="         Title   |" class="search">
                        <input type="text" #introduction placeholder="Introduction  |" class="search">
                        <input type="text" #description placeholder="Description" class="search">
                    </td>
                    <td>
                        <a href="#"><button (click)="searchArticle(title.value, introduction.value, description.value)" class="search-btn">Search</button></a>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Articles List -->
        <div class="wrap">
            <div class="card" *ngFor="let article of allArticlesPagination">
                <a style="text-decoration: none; color: black;" (click)="section3On(article.id)">
                <img src="/assets/images/no_image_startup.png" width="100%" height="100px"/>
                <div class="container">
                    <h4>{{article.title}}</h4>
                    <span>{{article.introduction}}</span> <br><br>
                    <span><b>{{article.categoryName}}</b></span> <br><br>
                        <br><br>
                    <span>{{article.date | date: 'HH:mm:ss'}} <br>  {{article.date | date: 'dd/MM/yyyy'}}</span> <br><br>
                </div>
                </a>
                <div class="article-buttons">
                    <button (click)="section2On(article.id)" class="edit-btn">Edit</button>
                    <button (click)="deleteArticle(article.id)" class="delete-btn">Delete</button>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="pagination">
            <a href="#" *ngIf="currentPage > 1" (click)="previousArticlePaginationList(currentPage-1, 5)">&laquo;</a>
            <a href="#" *ngIf="currentPage == 1">&laquo;</a>
            <div style="display: inline-block;" *ngFor='let in of counter() ;let i = index' (click)="selectArticlePaginationList(i+1, 5)">
                <a *ngIf="currentPage == i+1" class="active">{{i+1}}</a>
                <a *ngIf="currentPage !== i+1">{{i+1}}</a>
            </div>
            <div style="display: inline-block;">
                <a href="#" *ngIf="currentPage !== totalPages" (click)="nextArticlePaginationList(currentPage+1, 5)">&raquo;</a>
                <a href="#" *ngIf="currentPage == totalPages">&raquo;</a>
            </div>
        </div>
       
    </div>
</section>

<!-- Edit Article -->
<section *ngIf="sectionBool2">
    <div class="article-box" >
        <div class="article-header">
            <h1>Edit Article</h1>
        </div>
        <div *ngFor="let article of allArticles">
        <form [formGroup]="articleService.articleModel" *ngIf="article.id == getArticleId" autocomplete="off" (submit)="editArticle(article.id)">
            <div class="row">
                <div class="card-1">
                    <h2 style="color: #fff; text-align: center;">Title:</h2>
                    <input class="custom-input" formControlName="Title" type="text" [ngModel]="article.title" > <br> <br>
                    <h2 style="color: #fff; text-align: center;">Introduction:</h2>
                    <textarea style="width: 60%; min-height: 100px;" formControlName="Introduction" [ngModel]="article.introduction"></textarea> <br> <br>
                    <h2 style="color: #fff; text-align: center;">Category:</h2>
                    <select formControlName="CategoryName" *ngIf="!editCategoryName" [ngModel]="article.categoryName">
                        <option>{{article.categoryName}}</option>
                        <option>---------------------------------</option>
                        <option *ngFor="let category of allCategories">{{category.name}}</option>
                    </select>
                    <br> <br> <br>
                    <button style="margin:10px" type="submit" class="add-btn">Modify Article</button>
                    <button type="submit" (click)="section2Off()" class="cancel-btn">Cancel</button>
                </div>
                <textarea formControlName="Description" [ngModel]="article.description" class="card-2"></textarea>
            </div>
        </form>
        </div>
    </div>
</section>

<!-- View Article -->
<section *ngIf="sectionBool3">
    <div class="article-box" >
        <div class="article-header">
            <h1>View Article</h1>
        </div>
        <div *ngFor="let article of allArticles">
            <div class="row" *ngIf="article.id == getArticleId">
                <div class="card-1">
                    <h2 style="color: #fff; text-align: center;">Title:</h2>
                    <input class="custom-input" type="text" value="{{article.title}}" readonly> <br> <br>
                    <h2 style="color: #fff; text-align: center;">Introduction:</h2>
                    <textarea style="width: 60%; min-height: 100px;" type="text" value="{{article.introduction}}" readonly></textarea> <br> <br>
                    <h2 style="color: #fff; text-align: center;">Category:</h2>
                    <input class="custom-input" type="text" value="{{article.categoryName}}" readonly> <br> <br>
                    <button type="submit" (click)="section3Off()" class="cancel-btn">Cancel</button>
                </div>
                <textarea value="{{article.description}}" readonly class="card-2"></textarea>
            </div>
        </div>
    </div>
</section>

<router-outlet *ngIf="sectionBool"></router-outlet>
