<div *ngIf=" !sectionBool && !sectionBool2 && !sectionBool3">  
        <button (click)="sectionOn()" class="add-article-btn" routerLink='/new-article' routerLinkActive='active'>Add Article</button>
        <div class="boxContainer">
            <table class="elementsContainer">
                <tr>
                    <td style="display: flex; margin-top: 5px;">
                        <input type="text" #title placeholder="    Title   |" class="search">
                        <input style="margin-left: -100px;" type="text" #introduction placeholder="Introduction  |" class="search">
                        <input style="margin-left: -70px;" type="text" #description placeholder="Description" class="search">
                    </td>
                    <td>
                        <a href="#"><button (click)="searchArticle(title.value, introduction.value, description.value)" class="search-btn">Search</button></a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="pagination-align">
            <div class="wrap">
                <div class="card" *ngFor="let article of allArticlesPagination">
                    <a style="text-decoration: none; color: black;" (click)="section3On(article.id)">
                    <img src="/assets/images/no_image_startup.png" width="100%" height="100px"/>
                    <div class="container">
                        <h4>{{article.title}}</h4>
                        <span>{{article.introduction}}</span> <br><br>
                        <span><b>{{article.categoryName}}</b></span> <br><br>
                            <br><br>
                        <span>{{article.date | date: 'HH:mm:ss'}} <br>  {{article.date | date: 'dd/MM/yyyy'}}</span> <br><br>
                    </div>
                    </a>
                    <div class="article-buttons">
                        <button (click)="section2On(article.id)" class="edit-btn">Edit</button>
                        <button (click)="deleteArticle(article.id)" class="delete-btn">Delete</button>
                    </div>
                </div>
            </div>

        <div class="pagination" *ngIf="showPagination">
            <a href="#" *ngIf="currentPage > 1" (click)="previousArticlePaginationList(currentPage-1, 5)">&laquo;</a>
            <a href="#" *ngIf="currentPage == 1">&laquo;</a>
            <div style="display: inline-block;" *ngFor='let in of counter() ;let i = index' (click)="selectArticlePaginationList(i+1, 5)">
                <a *ngIf="currentPage == i+1" class="active">{{i+1}}</a>
                <a *ngIf="currentPage !== i+1">{{i+1}}</a>
            </div>
            <div style="display: inline-block;">
                <a href="#" *ngIf="currentPage !== totalPages" (click)="nextArticlePaginationList(currentPage+1, 5)">&raquo;</a>
                <a href="#" *ngIf="currentPage == totalPages">&raquo;</a>
            </div>
        </div>
    </div>
</div>  

<app-add-article *ngIf="sectionBool"></app-add-article>
<app-edit-article [article]="article" *ngIf="sectionBool2"></app-edit-article>
<app-view-articles [article]="article" *ngIf="sectionBool3"></app-view-articles>