<section>
    <div class="article-box" *ngIf="article">
        <div class="article-header">
            <h1>Edit Article</h1>
        </div>
        <div>
        <form [formGroup]="articleService.articleModel" autocomplete="off" (submit)="editArticle(article.id)">
            <div class="row">
                <div class="card-1">
                    <h2>Title:</h2>
                    <input class="custom-input" formControlName="Title" type="text" [ngModel]="article.title"> <br> <br>
                    <h2>Introduction:</h2>
                    <textarea formControlName="Introduction" [ngModel]="article.introduction"></textarea> <br> <br>
                    <h2>Category:</h2>
                    <select formControlName="CategoryName" [ngModel]="article.categoryName">
                        <option>{{article.categoryName}}</option>
                        <option>---------------------------------</option>
                        <option *ngFor="let category of allCategories">{{category.name}}</option>
                    </select>
                    <br> <br> <br>
                    <button type="submit" class="add-btn">Modify Article</button>
                     <button type="submit" (click)="section2Off()" class="cancel-btn">Cancel</button> 
                </div>
                <textarea formControlName="Description" [ngModel]="article.description" class="card-2"></textarea>
            </div>
        </form>
        </div>
    </div>
</section> 



